*,*::before,*::after {
    box-sizing: border-box;
}

/* Reset */
body,div,h1,p,button,img {
    margin: 0px;
    padding: 0px;
}

button {
    font-family: inherit;
}

@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap');

:root{
    --Pale-blue: hsl(225, 100%, 94%);
    --Bright-blue: hsl(245, 75%, 52%);
    --Very-pale-blue: hsl(225, 100%, 98%);
    --Desaturated-blue: hsl(224, 23%, 55%);
    --Desaturated-blue-blured: hsl(224, 23%, 55%,0.05);
    --Dark-blue: hsl(223, 47%, 23%);
}

/* Contains all page content */
.page-content{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./images/pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: var(--Very-pale-blue);
    min-height: 100vh;
}

/* A card containing order summary */
.order-summary-card {
    max-width: 90%;
    width: 450px;
    min-height: 600px;
    display: flex;
    flex-direction: column;
    border-radius: 5%;
    overflow: hidden;
    font-family: 'Red Hat Display', sans-serif;
    background-color: white;
}

.card-banner-image{
    display: block;
    width: 100%;
}

.card-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px;
}

.card-content > *{
    margin-top: 20px;
    margin-bottom: 20px;
}

.card-title{
    text-align: center;
    color: var(--Dark-blue);
    font-weight: 700;
}

.promo-msg{
    text-align: center;
    color: var(--Desaturated-blue);
    font-weight: 400;
}

.payment-options{
    display: flex;
    flex-direction: column;
}

.payment-option {
    display:grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
    "icon option-name option-select"
    "icon option-description option-select";
    background-color: var(--Desaturated-blue-blured);
    border-radius: 1em;
    padding: 1em;
}

.payment-option * {
    align-self: center;
    justify-self: center;
}

.payment-option .option-icon {
    grid-area: icon;
}

.payment-option .option-name{
    grid-area: option-name;
}

.payment-option .option-description{
    grid-area: option-description;
}

.payment-option .option-select{
    grid-area: option-select;
}
/* Mobile CSS */
@media screen and (max-width:400px){
    .page-content{  
        background-image: url(./images/pattern-background-mobile.svg);
    }
    .payment-option *{
        font-size: 0.5rem;
    }
}